$desktop-width: 1300px;
$tablet-width: 768px;
$mobile-width: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font--Roboto-light: "Roboto", "Roboto-Light", "Arial", sans-serif;
$font--Roboto-regular: "Roboto", "Roboto-Regular", "Arial", sans-serif;
$font--Roboto-bold: "Roboto", "Roboto-Bold", "Arial", sans-serif;

$white: rgb(255, 255, 255);
$blue: rgb(0, 189, 208);
$grey: rgb(71, 91, 102);
$transparentgrey: rgb(71, 91, 102, 0.5);
$black: rgb(0, 0, 0);